:root {
    /* Colors */
    --primary: #641ae6;
    --secondary: #d425a6;
    --accent: #1a9389;
    --info: #69c8f0;
    --success: #36d399;
    --warning: #fbbd23;
    --error: #f87272;

    /* Text */
    --text-alert: rgba(255, 255, 255, 0.8);
    --text-alert-link: rgba(255, 255, 255, 0.6);
}

.alert {
    padding: 0.9375rem;
    border-radius: 0.25rem;
    margin-bottom: 1.25rem;
    font-size: 1rem;
}

.alert-container {
    display: flex;
    align-items: center;
}

.alert-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.alert-text {
    font-size: 1rem;
}

.alert-primary,
.alert-secondary,
.alert-accent,
.alert-info,
.alert-success,
.alert-warning,
.alert-error {
    color: var(--text-alert);
}

.alert-primary {
    background-color: var(--primary);
}

.alert-secondary {
    background-color: var(--secondary);
}

.alert-accent {
    background-color: var(--accent);
}

.alert-info {
    background-color: var(--info);
}

.alert-success {
    background-color: var(--success);
}

.alert-warning {
    background-color: var(--warning);
}

.alert-error {
    background-color: var(--error);
}

.alert-primary a,
.alert-secondary a,
.alert-accent a,
.alert-info a,
.alert-success a,
.alert-warning a,
.alert-error a {
    color: var(--text-alert-link);
}