:root {
    /* Colors */
    --primary: #641ae6;
    --secondary: #d425a6;
    --accent: #1a9389;
    --info: #69c8f0;
    --success: #36d399;
    --warning: #fbbd23;
    --error: #f87272;

    /* Text */
    --text-badge: rgba(255, 255, 255, 0.8);
}

.badge {
    padding: 5px 10px;
    border-radius: 5px;
}

.badge-primary,
.badge-secondary,
.badge-accent,
.badge-info,
.badge-success,
.badge-warning,
.badge-error {
    color: var(--text-badge);
}

.badge-primary {
    background-color: var(--primary);
}

.badge-secondary {
    background-color: var(--secondary);
}

.badge-accent {
    background-color: var(--accent);
}

.badge-info {
    background-color: var(--info);
}

.badge-success {
    background-color: var(--success);
}

.badge-warning {
    background-color: var(--warning);
}

.badge-error {
    background-color: var(--error);
}