:root {
    /* Colors */
    --text-color: #ffffff;

    /* Buttons */
    --button-primary: #641ae6;
    --button-primary-hover: #5917ca;

    --button-secondary: #d425a6;
    --button-secondary-hover: #a81b83;

    --button-accent: #1a9389;
    --button-accent-hover: #12645d;

    --button-ghost: transparent;
    --button-ghost-hover: rgba(0, 0, 0, 0.25);

    --button-link: transparent;
    --button-link-hover: transparent;

    --button-info: #69c8f0;
    --button-info-hover: #4d94b3;

    --button-success: #36d399;
    --button-success-hover: #258f68;

    --button-warning: #fbbd23;
    --button-warning-hover: #a57c16;

    --button-error: #f87272;
    --button-error-hover: #b35252;
}

.button {
    background-color: #191e24;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 3px;
    color: var(--text-color);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    overflow: hidden;
}

.button:hover {
    transition: all 0.2s;
    background-color: #171b1f;
}

.button:active {
    transition: all 0.2s;
    scale: 95%;
}

.button-primary {
    background-color: var(--button-primary);
    color: var(--text-color);
}

.button-primary:hover {
    background-color: var(--button-primary-hover);
}

.button-secondary {
    background-color: var(--button-secondary);
    color: var(--text-color);
}

.button-secondary:hover {
    background-color: var(--button-secondary-hover);
}

.button-accent {
    background-color: var(--button-accent);
    color: var(--text-color);
}

.button-accent:hover {
    background-color: var(--button-accent-hover);
}

.button-ghost {
    background-color: var(--button-ghost);
    color: var(--text-color);
}

.button-ghost:hover {
    background-color: var(--button-ghost-hover);
}

.button-link {
    background-color: var(--button-link);
    color: #641ae6;
    text-decoration: underline;
}

.button-link:hover {
    background-color: var(--button-link-hover);
}

.button-info {
    background-color: var(--button-info);
    color: var(--text-color);
}

.button-info:hover {
    background-color: var(--button-info-hover);
}

.button-success {
    background-color: var(--button-success);
    color: var(--text-color);
}

.button-success:hover {
    background-color: var(--button-success-hover);
}

.button-warning {
    background-color: var(--button-warning);
    color: var(--text-color);
}

.button-warning:hover {
    background-color: var(--button-warning-hover);
}

.button-error {
    background-color: var(--button-error);
    color: var(--text-color);
}

.button-error:hover {
    background-color: var(--button-error-hover);
}

span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}